name: Daily Swing Scan

on:
  schedule:
    - cron: '15 10 * * 1-5'   # 3:45 PM IST
  workflow_dispatch:

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install deps
        run: pip install yfinance pandas numpy matplotlib

      - name: Run Swing Scanner
        env:
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
          TO_EMAIL: ${{ secrets.TO_EMAIL }}
        run: python swing_bot.py
